
<div class="layui-card">
    <div class="layui-card-header">
        用户管理
    </div>
    <div class="layui-card-body">
        <div class="layui-row" style="text-align:left">
            <button class="layui-btn" id="btnAddUser">
                <i class="layui-icon layui-icon-add-circle"></i>
                添加
            </button>
            <button class="layui-btn" id="btnRefresh">
                <i class="layui-icon layui-icon-refresh"></i>
                刷新
            </button>
        </div>
        <table class="layui-hide" id="usertable" lay-filter="usertable"></table>
    </div>
</div>



@section head{
    <script type="text/html" id="operationTpl">
        <div>
            <a class="layui-btn layui-btn-xs" lay-event="edit">
                <i class="layui-icon layui-icon-edit"></i>编辑
            </a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                <i class="layui-icon layui-icon-delete"></i>删除
            </a>
        </div>
    </script>
    <script type="text/html" id="roleTpl">
        <input type="button" class="layui-btn layui-btn-normal layui-btn-xs" value="{{d.Role.Name}}" />
    </script>
    <script type="text/html" id="userInfo">
        <div style="margin:20px 0px 0px 0px">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">登录名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="loginName" required lay-verify="required" placeholder="登录名" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">昵称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="realName" required lay-verify="required" placeholder="昵称" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input id="password" type="password" required lay-verify="required" placeholder="密码" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">角色</label>
                        <div class="layui-input-inline">
                            <select id="userRole" lay-filter="userRole" required lay-verify="required">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>


                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea id="remark" type="text" placeholder="备注" class="layui-textarea" style="width:515px;" />
                    </div>
                </div>
            </div>
        </div>

    </script>
    <script type="text/javascript" src="../Scripts/user.js">
    </script>
}

