<div class="row layui-col-md12 layui-col-space30">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">
                角色列表
            </div>
            <div class="layui-card-body">
                <table class="layui-hide" id="role" lay-filter="role"></table>
            </div>
        </div>
    </div>
    <div class="layui-col-md9">
        <div class="layui-card">
            <div class="layui-card-header">
                权限列表
                <button class="layui-btn layui-btn-sm layui-button-tips" id="btnSave" type="button">保存</button>
            </div>
            <div class="layui-card-body">
                <div id="tree"></div>
            </div>
        </div>
    </div>
</div>

@section head{
    <script type="text/javascript" src="../Scripts/rolepermission.js"></script>
}

