

<div class="layui-card">
    <div class="layui-card-header">
        菜单管理
    </div>
    <div class="layui-card-body">
        <div class="layui-row" style="text-align:left">
            <button class="layui-btn" id="btnadd">
                <i class="layui-icon layui-icon-add-circle"></i>
                添加
            </button>
            <button class="layui-btn" id="btnRefresh">
                <i class="layui-icon layui-icon-refresh"></i>
                刷新
            </button>
            <table class="layui-hide" id="permissiontable" lay-filter="permissiontable"></table>
        </div>
    </div>
</div>

@section head{
    <script type="text/html" id="operationTpl">
        <div>
            <a class="layui-btn layui-btn-xs" lay-event="edit">
                <i class="layui-icon layui-icon-edit"></i>编辑
            </a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">
                <i class="layui-icon layui-icon-delete"></i>删除
            </a>
        </div>
    </script>
    <script type="text/html" id="typeTpl">
        <input type="button" class="layui-btn layui-btn-xs {{d.Type==1? 'layui-btn-normal':'layui-btn-warm'}}" value="{{d.Type==1?"菜单":"按钮"}}" />
    </script>
    <script type="text/html" id="permission">
        <div style="margin:15px 25px 0px 0px">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">菜单名称</label>
                        <div class="layui-input-inline">
                            <input type="text" id="name" required lay-verify="required" placeholder="输入菜单名称" class="layui-input" />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">菜单地址</label>
                        <div class="layui-input-inline">
                            <input type="text" id="url" placeholder="输入菜单地址" class="layui-input" />
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">父级菜单</label>
                    <div class="layui-input-block" style="width:515px">
                        <select id="parentName" lay-filter="parentName">
                            <option value="">请选择</option>
                        </select>
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" value="1" title="菜单" checked="">
                        <input type="radio" name="type" value="2" title="按钮">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">Icon</label>
                    <div class="layui-input-block" style="width:515px">
                        <input id="icon" class="layui-input" placeholder="输入Icon"/>
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea id="remark" type="text" placeholder="输入备注" class="layui-textarea" style="width:515px"></textarea>
                    </div>
                </div>

            </form>
        </div>

    </script>
    <script type="text/javascript" src="../Scripts/permission.js"></script>

}

