
<div class="layui-row layui-col-space30">
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-body layui-bg-red">
                <h3>总数量</h3>
                <h1>10</h1>
            </div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-body layui-bg-orange">
                <h3>数量</h3>
                <h1>10</h1>
            </div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-body layui-bg-green">
                <h3>用户数</h3>
                <h1>10</h1>
            </div>
        </div>
    </div>
    <div class="layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-body layui-bg-blue">
                <h3>权限</h3>
                <h1>300</h1>
            </div>
        </div>
    </div>
    <div class="layui-col-md6">
        <div class="layui-card">
            <div class="layui-card-header">
                @*<fieldset class="layui-elem-field layui-field-title">
                        <legend>工作台</legend>
                    </fieldset>*@
                <span>工作台</span>
            </div>
            <div class="layui-card-body">
                
            </div>
        </div>
    </div>
</div>

@section head{
    <script type="text/javascript" src="../Scripts/workbench.js"></script>
}