html {
    background-color: #f2f2f2;
}
.layui-fluid {
    padding: 15px;
}
.layui-layout-admin .layui-body {
    bottom: 0;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover {
    background-color: #AA3130 !important;
}

